# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# VS stuff
*.vspx
*.db
*.opendb
*.user
**/bin/**
**/build/**
**/Debug/**
**/Release/**
**/x64/**
**/.vs/**

# Vim
*.swp
*.TMP

# Other stuff
/data/crytek-sponza/**
/data/heightmaps/**
/data/crytek-sponza.zip
*.zip
*.ipch
